@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";




@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-CTA: var(--cta);
  --color-background: var(--bg);
  --color-white: var(--white);
  --color-text: var(--text);
  --color-text2: var(--text2);
  --color-light-purple: var(--light-purple);
  
  /* Font families */
  --font-heading: "Quicksand", system-ui, -apple-system, sans-serif;
  --font-body: "Nunito", system-ui, -apple-system, sans-serif;
}

/* Define actual color values for different themes */
@layer base {
  :root {
    /* Light Theme (Default) */
    --primary: #984AD9;
    --secondary: #EEDBFF;
    --light-purple: #F7EDFF;
    --cta: #430a5f;
    --bg: #14141f;
    --white: ##14141f;
    --text: #f2f2f2;
    --text2: #666699;
  }

 

  /* Apply font families */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  body {
    font-family: var(--font-body);
    background-color: var(--bg);
    color: var(--text);
  }

}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.smallShadow { 
  box-shadow: 0px 4px 84px 0px #1b1b29;
}

.H-50 {
  font-size: 50px;
  line-height: 60px;
}
.H-32{
  font-size: 32px;
  line-height: 40px;
}
.H-24 {
  font-size: 24px;
  line-height: 34px;
}
.H-26 {
  font-size: 26px;
  line-height: 36px;
}
.H-28 {
  font-size: 28px;
  line-height: 38px;
}
.H-18 {
  font-size: 18px;
  line-height: 28px;
}
.H-14 {
  font-size: 14px;
  line-height: 24px;
}
.H-16 {
  font-size: 16px;
  line-height: 26px;
}
.H-12 {
  font-size: 12px;
  line-height: 20px;
}
.H-20 {
  font-size: 20px;
  line-height: 30px;
}
.H-10 {
  font-size: 10px;
  line-height: 16px;
}
.H-40 {
  font-size: 40px;
  line-height: 30px;
}
.H-8 {
  font-size: 8px;
  line-height: 12px;
}
.H-36 {
  font-size: 36px;
  line-height: 40px;
}
.H-22{
  font-size: 22px;
line-height: 32px;
}
